body {
  background: #24252D;
  /*background: #ffffff;*/
  color: #CACACC;
  font-family: 'Roboto Mono', monospace;
  font-size: 1em;
  display: flex;
  justify-content: center;
}
.container {
  max-width: 850px;
  margin: 1em 0;
}
.container .intro {
  max-width: 600px;
  float: right;
}
h1 {
  font-weight: 400;
  margin: 0;
}
h2 {
  color: #696A6F;
  font-weight: 300;
  margin: 0 0 .5em 0;
}
.links {
  margin: 0 0 1.5em 0;
}
.links a {
  color: #CACACC;
  margin: auto 1em auto 0;
}
#me {
    margin: 0px 25px 15px 0px;
    display: block;
    width: 200px;
    float: left;
}
.intro {
  margin: 0 0 2em 0;
}
.intro a {
  color: #E9BC3F;
  text-decoration: none;
}